.img-feature-icon{
    width: 90px;
    height: 90px;
    display: block;
    margin: 0 auto;

    border-top: 1em;
    padding-top: 1em;
    
    border-bottom: 1em;
}

.each_content{
    padding: 0 0 15px 15px;
    text-align: center
}

.content-header {
    margin: 0.67em 0;
    font-size: 1.35em;
    font-weight: bold;
    text-align: center;
}

/*icon border circle*/
.image_details{
    display: block;
    margin: 0 auto;
    width:115px;
    height: 105px;
    padding-bottom: 10px;
    border-top: 2px solid #3ACFD5;
  border-bottom: 2px solid #3a4ed5;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}